html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  min-height: 100vh;
}
html img {
  width: 60px;
  height: 60px;
}
html body header .flags img {
  width: 20px;
  height: auto;
}
html body nav {
  background-color: #ccd2d3;
}
html body footer {
  background-color: #ccd2d3;
}
