header {
  background: lightseagreen;
  padding: 10px;
}
section:nth-child(1) {
  background-color: lightgreen;
}
section:nth-child(2) {
  background-color: lightblue;
}
section:nth-child(3) {
  background-color: lightcoral;
}
